<div class="row-fluid gridify">
  <div class="span12 profile" style="margin-left:1%;padding-left:0;padding-bottom:5px">
    <div class="image">
      <img src="<%= friend["thumbnail_url"] %>" />
    </div>
    <h2><%= friend["name"] %></h2><div class="m_icons"><img src="/img/comment.png"><img src="/img/message.png"></div>
    <div class="actions">
      <a href="#" class="btn btn-mini btn-inverse"><i class="icon icon-envelope icon-white"></i></a>
    </div>

  </div> <!-- END .span12 -->
  <div class="span12 content">
    <% @photos[friend["services"]["facebook"]["id"]].each do |photo| %>
      <div class="block">
        <div class="main">
          <img class="" src="<%= photo["data"]["source"] %>"/>
        </div>
        <div class="info">
          <div class="pull-right actions">
            <a class="btn btn-mini" href="#">21 <i class="icon icon-thumbs-up"></i></a>
            <a class="btn btn-mini" href="#">6 <i class="icon icon-comment"></i></a>
          </div>
        </div>
      </div>
      <% end %>

      <% @statuses[friend["services"]["facebook"]["id"]].each do |status| %>
        <% next unless status[0] == "data" %>
        <% status[1].each do |post| %>
          <div class="block">
            <div class="main">
              <% if post["story"] %>
                <p><%= post["story"] %></p>
              <% elsif post["link"] %>
                <p>Shared a link: <a href="<%= post["link"] %>"><%= post["name"] %></a>
                <br/><img src="<%= post["picture"] %>" /></p>
              <% elsif post["message"] %>
                <p>Wrote: <%= post["message"] %></p>
              <% end %>
            </div> <!-- END .main -->
            <div class="info">
              <div class="pull-right actions">
                <a class="btn btn-mini" href="#">21 <i class="icon icon-thumbs-up"></i></a>
                <a class="btn btn-mini" href="#">6 <i class="icon icon-comment"></i></a>
              </div>
              <p class="small">Some description / meta</p>
            </div> <!-- END .info -->
          </div> <!-- END .block -->
        <% end %>
      <% end %>
    </div> <!-- END .span12 -->
    <div class="controls">
      <a href="#" class="left" data-slide="previous">&lsaquo;</a>
      <a href="#" class="right" data-slide="next">&rsaquo;</a>
    </div>
    <div class="clearfix"></div>
</div>
