<div class="tiled">
  <div class="wrap">

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

  </div>
  <div class="hometext">
      <div class="logo_div">
        <img src="/img/webgoggleslogo_large.png">
      </div>

      <div class="slogan_div">
        <p style="font-style:italic;padding-bottom:30px;">"See the web differently."</p>
      </div>

      <div class="pitch_div">
        <p>WebGoggl.es is a web app that helps you customize your viewing experience on familiar sites like Facebook, Amazon and Yelp, filtering out what you don’t want to see and showing you more of the stuff you love.</p>
      </div>

      <div class="form_div">
          <center><a href="https://api.singly.com/oauth/authenticate?client_id=28d73ba2e4eac68eff50c8856d9e2c8f&redirect_uri=<%= Singly.auth_callback %>&service=facebook" type="submit" class="btn btn-large btn-warning" style="margin-left:-20px;">Sign in with Facebook</a></center>
      </div>
    </div>
</div>
